<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% include "header.html" %}
    <main>
        {% if user.is_authenticated %}
            {% csrf_token %}
            <div id="chat"></div>
            <div id="contacts" class="panel"></div>
        {% else %}
            {% include "one_form.html" with form=login_form action="/users/login/" submit_button_text="Войти" csrf_token=csrf_token only %}
        {% endif %}
    </main>
    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>