<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <main>
        <div class="login-panel-wrapper">
            <div class="panel login-panel">
                <form method="post" class="login-form">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <table>
                    {% for field in form %}
                        <tr>
                            <th><label for="{{ f.id_for_label }}">{{ field.label }}:</label></th>
                            <td>{{ field }}</td>
                            <td class="form-error">{{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="login-form-buttons">
                        <button type="submit" formaction="/users/login/">Войти</button>
                        <span>|</span>
                        <button type="submit" formaction="/users/registration/">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>