<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue school</title>
</head>
<body>
    {{ content }}

    <style>
        .error {
            color: red;
            border: red 3px solid;
        }
    </style>

    <div id="app">
        Text
    </div>

    <div id="app2">
        Text
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const sharedData = {
            value: 1
        };

        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                shared: sharedData,
                private: {}
            },
            template: `
                <div>
                    <h1>App 1: [[shared.value]]</h1>
                </div>
            `
        });

        const app2 = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app2',
            data: {
                shared: sharedData,
                private: {}
            },
            methods: {
                increase: function() {
                    this.$data.shared.value++;
                },
                decrease: function() {
                    sharedData.value--;
                }
            },
            template: `
                <div>
                    <h1>App 2: [[shared.value]]</h1>
                    <button v-on:click="increase">+</button>
                    <button v-on:click="decrease">-</button>
                </div>
            `
        });
    </script>
    
</body>
</html>